---
import { createGitHubLoginUrl } from "../../lib/github";

const github = createGitHubLoginUrl(Astro);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href={github.href}>Login with GitHub</a>
  </body>
</html>
